<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>SAMOCA - San Angelico Museum of Contemporary Art</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>

  <!--
    DEFAULT APPLICATION TEMPLATE: This gets rendered in a browser as soon as "Ember.Application.create()" happens.
  -->

  <script type="text/x-handlebars">
    <div class="container">
      <header class="headerClass">
        <h1 class="logo">
          {{#link-to "index" class="homepageLinkClass"}}
            SAMOCA - San Angelico Museum of Contemporary Art
          {{/link-to}}
        </h1>
      </header>
      <nav class="navClass centerText">
        {{#link-to "about" class="btn btn-primary"}}About{{/link-to}}
        {{#link-to "donk" class="btn btn-primary"}}Donk{{/link-to}}
        <a href="#" class="btn btn-primary">Collections</a>
        <a href="#" class="btn btn-primary">Exhibits</a>
        <a href="#" class="btn btn-primary">Visitor Notes</a>
      </nav>
      <main class="mainClass cf">{{outlet}}</main>
      <footer class="footerClass centerText cf">
        <small>&copy; San Angelico Museum of Contemporary Art, 123 Main Street, Ventura, CA 12345 (800)555-1212</small>
      </footer>
    </div>
  </script>

  <!--
    The app's entire page structure is above this comment line.
    All of our single-page templates are below this comment line.
  -->

  <!--
    ====================================================
    "HOME" PAGE TEMPLATE: displays the Home page content 
    ====================================================
  -->
  <script type="text/x-handlebars" data-template-name="index">
    <section id="home" class="pageClass clearfix">
      <h2 class="homepageHeader">Welcome to Samoca</h2>
      <div class="homePageDiv vertAlign">
        <img src="images/hero.jpg" class="imageBorder" />
      </div>
      <div class="homePageDiv homePageCopy">
        SAMOCA (San Angelico Museum of Contemporary Art) is a museum with a focus on modern art from the last 75 years. Since its inception in 1973, the museum has been the leader in representing modern contemporary art and design. The museum is located in the heart of Ventura, California, ninety miles north of Los Angeles.
          <br><br>
          {{#link-to "about"}}<strong>learn more &raquo;</strong>{{/link-to}} 
      </div>
    </section>
  </script>

  <!--
    =================================================
    "ABOUT" PAGE TEMPLATE: displays the About content 
    =================================================
  -->

  <script type="text/x-handlebars" id="about">
    <section id="about" class="pageClass">
      <h2>About Us</h2>
      <h3 class="aboutTagLine">Celebrating the Best of Modern Art</h3>
      <img src="images/about-hero.jpg" alt="About SAMOCA" align="left" class="aboutImage imageBorder">
      <p>
        SAMOCA (San Angelico Museum of Contemporary Art) is a museum with a focus on modern art from the last 75 years. Since its inception in 1973, the museum has been the leader in representing modern contemporary art and design. The museum is located in the heart of Ventura, California, ninety miles north of Los Angeles.
      </p>
      <h3>An Introduction</h3>
      <p>
        SAMOCA was established in honor of Saint Angelico, and tasked with promoting the enrichment and furtherment of the arts. It hosts a creative mixture of visual and performing arts alongside music and crafts, suitable for the entire family. The museum also spotlights the unique talents and accomplishments of up-and-coming artists found within the diverse and daring California community and beyond.
      </p>
      <p>
        Our collections are designed to highlight the importance of contemporary art within modern society. Important influences, such as popular music, cinema, and current world events, are reflected in our halls. Through our diverse collections, events, and with the support of our patrons and volunteers, the museum helps to promote the importance of modern art around the world.
      </p>
    </section>
  </script>

  <!--
    =================================================
    "DONK" PAGE TEMPLATE: displays the Donk content
    =================================================
  -->

  <script type="text/x-handlebars" id="donk">
    <section id="about" class="pageClass">
      <h2>About Thy</h2>
      <h3 class="aboutTagLine">Celebrating the Best of Modern Art</h3>
      <img src="images/about-hero.jpg" alt="About SAMOCA" align="left" class="aboutImage imageBorder">
      <p>
        SAMOCA (San Angelico Museum of Contemporary Art) is a museum with a focus on modern art from the last 75 years. Since its inception in 1973, the museum has been the leader in representing modern contemporary art and design. The museum is located in the heart of Ventura, California, ninety miles north of Los Angeles.
      </p>
      <h3>An Introduction</h3>
      <p>
        SAMOCA was established in honor of Saint Angelico, and tasked with promoting the enrichment and furtherment of the arts. It hosts a creative mixture of visual and performing arts alongside music and crafts, suitable for the entire family. The museum also spotlights the unique talents and accomplishments of up-and-coming artists found within the diverse and daring California community and beyond.
      </p>
      <p>
        Our collections are designed to highlight the importance of contemporary art within modern society. Important influences, such as popular music, cinema, and current world events, are reflected in our halls. Through our diverse collections, events, and with the support of our patrons and volunteers, the museum helps to promote the importance of modern art around the world.
      </p>
    </section>
  </script>
      
  <script src="js/libs/jquery-1.10.2.js"></script>
  <script src="js/libs/handlebars-1.1.2.js"></script>
  <script src="js/libs/ember.min.js"></script>
  <script src="js/libs/ember-data.js"></script>
  <script src="js/libs/localstorage_adapter.js"></script>
  <script src="js/app.js"></script>

</body>
</html>